:root {
    --Acolor1: #3BB1D4;
    --Acolor2: #418AEB;
    --Acolor3: #39A0B7;
    --Acolor4: #212121;
    // --Acolor5: ;


    --Bcolor1: #0B1C2B;
    --Bcolor2: #273EC3;
    --Bcolor3: #489FE7;
    --Bcolor4: #000000;
    // --Bcolor5: ;

    
    --header-color: #0B1C2B;
    --category-color: #112d45;
    --title-color: #112d45;
    --black: rgb(0, 0, 0);
    --white: rgb(255, 255, 255);
    --light-gray: rgb(238, 238, 238);
    --medium-gray: rgb(138, 140, 145);
    --dark-gray: rgb(88, 88, 88);
    // --dark-gray: rgb(68, 68, 68);

    --font: Abadi;
}

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////// MAIN PAGE ///////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

.bk-footer-logo-image, ._footerLogo_th3h5_149 {
  display: none !important;
}