@font-face {
    font-family: Abadi;
    src: url("../assets/AbadiMTStd.otf") format("opentype");
}


:root {
    --Acolor1: #3BB1D4;
    --Acolor2: #418AEB;
    --Acolor3: #39A0B7;
    --Acolor4: #212121;
    // --Acolor5: ;


    --Bcolor1: #0B1C2B;
    --Bcolor2: #273EC3;
    --Bcolor3: #489FE7;
    --Bcolor4: #000000;
    // --Bcolor5: ;

    
    --header-color: #0B1C2B;
    --category-color: #112d45;
    --title-color: #112d45;
    --black: rgb(0, 0, 0);
    --white: rgb(255, 255, 255);
    --light-gray: rgb(238, 238, 238);
    --medium-gray: rgb(138, 140, 145);
    --dark-gray: rgb(88, 88, 88);
    // --dark-gray: rgb(68, 68, 68);

    // --font: Arial, Helvetica, sans-serif;
    --font: Abadi;
}

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////// MAIN PAGE ///////////////////////////////////
////////////////////////////////////////////////////////////////////////////////


html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font);
    background-color: var(--white);
}

h1 {
    font-family: var(--font);
    font-weight: 300;
    letter-spacing: 1px;
}

h3 {
    font-family: var(--font);
    font-weight: 600;
    letter-spacing: .5px;
}

div {
    padding: 10px;
    margin: 0px;
}

#loader {
  position: absolute;
  img {
    max-height: 100%;
    max-width: 20%;
    // width: auto;
  }
  display: flex;
  justify-content: center;
}

#embed {
    height: 80vh;
    min-width: 600px;
}

#embed-2 {
    height: 800px;
    min-width: 600px;
}

#header {
    padding: 10px 20px;
    margin: 0;

    background-color: var(--header-color);
    color: var(--white);
    
    display: flex;
    justify-content: space-between;
    
    a {
        align-self: center;
        img {
            max-height: 3.5rem;
            user-select: none;
        }
    }
}

.menu-category {
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: row;
    vertical-align: center;
    
    h3 {
        margin: 1rem 0;
        display: inline;
    }
}

#menu-2 {
    margin-top: .5rem;
}

// .active-sidebar {
//     flex: 0 0 250px;
//     h3, li p {
//         // transition-delay:1s all;
//         display: inline;
//     }
//     li {
//         padding-left: 8px;
//     }
//     ul {
//         margin-left: 5px;
//     }
// }

#sidebar {
    ///////EXPERIMENTING WITH FIXED NAVBAR///////
    // position: fixed;
    // height: 100%;
    // width: 15%;

    padding: 0 20px;

    background-color: --white;

    flex: 0 0 10px;

    transition: all 0.2s;
    
    ul {
        margin-left: 0px;
        padding-left: 0px;

        transition: all 0.2s;
    }
    
    li {
        // display: inline-flex;

        padding-left: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 3px;
        
        list-style-type: none;
        
        font-size: 18px;
        font-weight: 500;
        font-family: var(--font);
        line-height: 1.429;
        
        color: var(--dark-gray);
        
        cursor: pointer;

        p {
            // visibility: collapse;
            display: none;
            // user-select: none;
            // white-space: nowrap;
            overflow: hidden;
            max-width: 0;
            // vertical-align: top;
            // display: inline-block;
        }

        }
    li:hover{
        background-color: var(--light-gray);
    }
    li:active{
        background-color: var(--medium-gray);
    }

    h3 {
        display: none;
        line-height: 2.5;
        color: var(--category-color);
    }

    span.category {
        line-height: 2.5;
        color: var(--category-color);
        user-select: none;
    }

    span.wrapper {
      white-space: nowrap;
      overflow: hidden;
    }

    hr {
        margin: 1rem 0;
    }

    .submenu-hidden li {
      margin-left: 0;
    }
}

#sidebar:hover {
    flex: 0 0 250px;
    h3, li p {
        // visibility: visible;
        display: inline;
      }
    li {
        // max-width: 5rem;
        padding-left: 8px;
    }
    #menu-2 {
        margin-left: 5px;
    }
    .submenu-hidden li {
      margin-left: 15px;
    }
}

.submenu-hidden {
  margin-top: 10px !important;
  padding: 0;
  display: none;
}

.submenu-visible {
  display: inline;
}

// #sidebar {
//     // border-right: solid 1px black;
//     // padding: 0;
//     flex: 0 0 250px;
    
//     transition: all 0.2s;
    
//     ul {
//         margin-left: 40px;
//         padding-left: 0px;
//         transition: all 0.2s;

//         // width: 100%;
//     }
    
//     li {
//         list-style-type: none;
//         padding-top: 10px;
//         padding-bottom: 10px;
//         margin-bottom: 3px;
//         font-size: 18px;
//         font-weight: 500;
//         font-family: var(--font);
//         // font-family: 'Roboto', sans-serif;
//         color: #444444;
//         line-height: 1.429;
//         cursor: pointer;
//         padding-left: 8px;
        
        
//         // width: 100%;
//         white-space: nowrap;
//         p {
//             display: none;
//         }
//     }
//     li:hover{
//         background-color: rgb(238, 238, 238);
//     }
//     li:active{
//         background-color: #979BA2;
//     }
// }

// #sidebar:hover {
//     flex: 0 0 250px;
//     transition: all 0.2s;
//     li p {
//         display: inline;
//     }
// }

// #sidebar:hover {
//     // border-right: solid 1px black;
//     // padding: 0;
//     flex: 0 0 250px;
    
//     transition: all 0.2s;
    
//     ul {
//         margin-left: 5px;
//         padding-left: 0px;

//         // width: 100%;
//     }
    
//     li {
//         list-style-type: none;
//         padding-top: 10px;
//         padding-bottom: 10px;
//         margin-bottom: 3px;
//         font-size: 18px;
//         font-weight: 500;
//         font-family: var(--font);
//         // font-family: 'Roboto', sans-serif;
//         color: #444444;
//         line-height: 1.429;
//         cursor: pointer;
//         padding-left: 8px;
        
        
//         // width: 100%;
//         p {
//             display: inline;
//         }
//     }
//     li:hover{
//         background-color: rgb(238, 238, 238);
//     }
//     li:active{
//         background-color: #979BA2;
//     }
// }


#page-content-div {
    padding: 10px 10px 0 0;
}

#main-content-div {
    
    // width: 80%;
    // margin-left: 17%;

    background-color: rgb(238, 241, 244);   
}

#no-data {
    display: none;
}


/* Defines the Modal pop-up look and feel for use with Custom Action */

/* https://www.w3schools.com/howto/howto_css_modals.asp */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 4; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    min-height: 600px;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

span.material-icons {
    // margin-top:
    // font-size: 2em;
    vertical-align: -5px;
}

// @media only screen and (min-width: 780px) {

// }

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////// BORROWED ////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

.arrow {
    background: #fff;
    height: 3px;
    width: 30px;
    margin: 0 auto;
    position: relative;
    cursor: pointer;
  
    &:before,

    &:after {
      content: "";
      background: #fff;
      position: absolute;
      height: 3px;
      width: 15px;
    }
  
    &:before {
      right: -3px;
      bottom: -4px;
      transform: rotate(-45deg);
    }
  
    &:after {
      right: -3px;
      top: -4px;
      transform: rotate(45deg);
    }
  }
  
  // Animation 1
  #animation1 {
    & + label > .arrow {
      &:before {
        animation: animation-1-before-reverse 1s ease 0s 1 alternate both;
      }
  
      &:after {
        animation: animation-1-after-reverse 1s ease 0s 1 alternate both;
      }
    }
  
    &:checked {
      & + label > .arrow {
        &:before {
          animation: animation-1-before 1s ease 0s 1 alternate both;
        }
  
        &:after {
          animation: animation-1-after 1s ease 0s 1 alternate both;
        }
      }
    }
  }
  
  @keyframes animation-1-after {
    0% {
      right: -3px;
      top: -4px;
      transform: rotate(45deg);
    }
  
    50% {
      width: 3px;
      border-radius: 50%;
      top: -20px;
      left: 15px;
    }
  
    100% {
      left: -3px;
      bottom: -4px;
      transform: rotate(135deg);
      height: 3px;
      width: 15px;
      background: #fff;
    }
  }

  @keyframes animation-1-before {
    0% {
      right: -3px;
      bottom: -4px;
      transform: rotate(-45deg);
    }
  
    50% {
      width: 3px;
      border-radius: 50%;
      bottom: -20px;
      left: 15px;
    }
  
    100% {
      left: -3px;
      bottom: -4px;
      transform: rotate(-135deg);
      height: 3px;
      width: 15px;
      background: #fff;
    }
  }

  @keyframes animation-1-after-reverse {
    0% {
      left: -3px;
      bottom: -4px;
      transform: rotate(135deg);
      height: 3px;
      width: 15px;
      background: #fff;
    }
  
    50% {
      width: 3px;
      border-radius: 50%;
      top: -20px;
      left: 15px;
    }
  
    100% {
      right: -3px;
      top: -4px;
      transform: rotate(45deg);
    }
  }

  @keyframes animation-1-before-reverse {
    0% {
      left: -3px;
      bottom: -4px;
      transform: rotate(-135deg);
      height: 3px;
      width: 15px;
      background: #fff;
    }
  
    50% {
      width: 3px;
      border-radius: 50%;
      bottom: -20px;
      left: 15px;
    }
  
    100% {
      right: -3px;
      bottom: -4px;
      transform: rotate(-45deg);
    }
  }
  